In [217]:
import pandas as pd

In [69]:
import pyspark

In [70]:
from pyspark.sql import SparkSession

# Create Spark session
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark

In [71]:
spark_df= spark.read.csv('ff from nov.csv')

In [72]:
spark_df  ###it is showing all column as string -- default

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [ ]:
# now i  want to see the proper table
spark_df.show()  #here it will make default header and real header will be your first row

In [185]:
###now making real header as a header

spark_df= spark.read.option('header',"true").csv('ff from nov.csv')

In [186]:
spark_df.show()

+----------+-------------+-------------+--------+---------------+----+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual| _c5|
+----------+-------------+-------------+--------+---------------+----+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|NULL|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|NULL|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|NULL|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|NULL|
|12-12-2023|      Desktop|    cancelled|    1244|            711|NULL|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|NULL|
|11-11-2023|       mobile|    cancelled|     744|         534.51|NULL|
|09-12-2023|      Desktop|    cancelled|     249|            145|NULL|
|13-12-2023|      android|    delivered| 3481.48|           2630|NULL|
|15-12-2023|      Desktop|      shipped|    9179|           7186|NULL|
|15-11-2023|      android|    cancelled|    4740|           3500|NULL|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|NULL|
|15-12-2023|       mobile|    confirmed|   12384|          13110|NULL|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|NULL|
|18-11-2023|      android|    delivered|     455|            210|NULL|
|17-11-2023|      android|    cancelled|  1255.2|            800|NULL|
|04-12-2023|      android|    delivered| 2515.66|           1500|NULL|
|21-11-2023|      android|    cancelled|     398|            200|NULL|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|NULL|
|23-12-2023|       mobile|    confirmed|     458|          311.4|NULL|
+----------+-------------+-------------+--------+---------------+----+
only showing top 20 rows

In [76]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

In [77]:
spark_df.head()

Row(order_date='24-11-2023', booked_device='mobile', Line_status='delivered', B_GMV='301.8544', total_cp_actual='221.76', _c5=None)

In [78]:
spark_df.printSchema()   #now u can see that all the columns are in string

root
 |-- order_date: string (nullable = true)
 |-- booked_device: string (nullable = true)
 |-- Line_status: string (nullable = true)
 |-- B_GMV: string (nullable = true)
 |-- total_cp_actual: string (nullable = true)
 |-- _c5: string (nullable = true)

In [79]:
 #now u can see that all the columns are in string, if we want to show data ewith there original datatype , we ca use 

spark_df= spark.read.option('header', 'true').csv('ff from nov.csv', inferSchema='True')  #used inferschema to get real datatype

In [80]:
spark_df.printSchema()

root
 |-- order_date: string (nullable = true)
 |-- booked_device: string (nullable = true)
 |-- Line_status: string (nullable = true)
 |-- B_GMV: double (nullable = true)
 |-- total_cp_actual: double (nullable = true)
 |-- _c5: string (nullable = true)

In [ ]:
spark_df.columns   #to FETCH all the columns from the df

In [ ]:
spark_df.select('order_date').show()   ## to select 1 column u  can use

In [81]:
spark_df.select(['order_date', 'B_GMV']).show()  #to sleect multiple column 

#slicing doesnt work here

+----------+--------+
|order_date|   B_GMV|
+----------+--------+
|24-11-2023|301.8544|
|30-11-2023|  4087.0|
|25-11-2023| 4839.66|
|13-12-2023|  5829.0|
|12-12-2023|  1244.0|
|27-11-2023|   446.0|
|11-11-2023|   744.0|
|09-12-2023|   249.0|
|13-12-2023| 3481.48|
|15-12-2023|  9179.0|
|15-11-2023|  4740.0|
|22-12-2023| 2003.15|
|15-12-2023| 12384.0|
|04-11-2023|  5079.0|
|18-11-2023|   455.0|
|17-11-2023|  1255.2|
|04-12-2023| 2515.66|
|21-11-2023|   398.0|
|16-11-2023|  3667.0|
|23-12-2023|   458.0|
+----------+--------+
only showing top 20 rows

In [82]:
# to chec k datatype we use dtypes
spark_df.dtypes   #(this also works in dataframe)

[('order_date', 'string'),
 ('booked_device', 'string'),
 ('Line_status', 'string'),
 ('B_GMV', 'double'),
 ('total_cp_actual', 'double'),
 ('_c5', 'string')]

In [83]:
#describe also work into this 
spark_df.describe().show()

+-------+----------+-------------+----------------+-----------------+-----------------+----+
|summary|order_date|booked_device|     Line_status|            B_GMV|  total_cp_actual| _c5|
+-------+----------+-------------+----------------+-----------------+-----------------+----+
|  count|     46732|        46731|           46732|            46732|            46732|   0|
|   mean|      NULL|         NULL|            NULL|4257.318433580822|2843.234728451601|NULL|
| stddev|      NULL|         NULL|            NULL|9033.035380334408|6164.052151388269|NULL|
|    min|01-11-2023|      Desktop|          Packed|              1.0|             0.72|NULL|
|    max|30-11-2023|       mobile|shipped_complete|         466200.0|         321361.0|NULL|
+-------+----------+-------------+----------------+-----------------+-----------------+----+

In [84]:
## Adding column into df of spark
spark_df=spark_df.withColumn('total_cp_actual_after_gst', spark_df['total_cp_actual']*.18)

In [85]:
spark_df.show()

+----------+-------------+-------------+--------+---------------+----+-------------------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual| _c5|total_cp_actual_after_gst|
+----------+-------------+-------------+--------+---------------+----+-------------------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|NULL|       39.916799999999995|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|NULL|                   533.52|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|NULL|                   645.84|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|NULL|                 616.9176|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|NULL|       127.97999999999999|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|NULL|                   41.364|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|NULL|                  96.2118|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|NULL|       26.099999999999998|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|NULL|                    473.4|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|NULL|                  1293.48|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|NULL|                    630.0|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|NULL|                  290.295|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|NULL|       2359.7999999999997|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|NULL|                 730.4472|
|18-11-2023|      android|    delivered|   455.0|          210.0|NULL|                     37.8|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|NULL|                    144.0|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|NULL|                    270.0|
|21-11-2023|      android|    cancelled|   398.0|          200.0|NULL|                     36.0|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|NULL|                  487.125|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|NULL|        56.05199999999999|
+----------+-------------+-------------+--------+---------------+----+-------------------------+
only showing top 20 rows

In [ ]:
#now i want to drop these 2 column, 1 which we added and 1 which has null only.

In [ ]:
##now dropping a column

In [91]:
spark_df=spark_df.drop('total_cp_actual_after_gst', '_c5')

In [92]:
spark_df.show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [95]:
###Now rename the column


spark_df.withColumnRenamed('Line_status', 'order_status').show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [97]:
spark_df=spark_df.withColumnRenamed('Line_status', 'order_status')
spark_df.show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [102]:
### handling nulls and missing values 

#dropping null values form the table 

spark_df.na.drop().show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [103]:
spark_df.na.drop(how='any').show()   ###here we we use any then it will delete those row who has contained any null values 
spark_df.na.drop(how='all').show()   ###here we we use 'all' then it will delete those row who has contained all null values across all column

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [104]:
spark_df.show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [105]:
###using of threshold


spark_df.na.drop(how='any', thresh=2).show()   #### thresh=2: it mean it will check row should have min 2 non null value, if it not then it will delete

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [106]:
#subset

spark_df.na.drop(how='all', subset= ['total_cp_actual']).show()

#it will drop null values from table where column will be 'total_cp_actual'

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [107]:
### now fill

spark_df.na.fill('missing value').show()   #it will fill null with 'missing value'

spark_df.na.fill('missing value', 'booked_device').show()   #it will fill null with 'missing value' in subset column - book_device

spark_df.na.fill('missing value', ['booked_device','B_GMV').show()   #it will fill null with 'missing value' in subset columns - book_device and B_GMV

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device| order_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|    4087|           2964|
|25-11-2023|      Desktop|    cancelled| 4839.66|           3588|
|13-12-2023|       mobile|          RTO|    5829|        3427.32|
|12-12-2023|      Desktop|    cancelled|    1244|            711|
|27-11-2023|       mobile|RTO_DELIVERED|     446|          229.8|
|11-11-2023|       mobile|    cancelled|     744|         534.51|
|09-12-2023|      Desktop|    cancelled|     249|            145|
|13-12-2023|      android|    delivered| 3481.48|           2630|
|15-12-2023|      Desktop|      shipped|    9179|           7186|
|15-11-2023|      android|    cancelled|    4740|           3500|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed|   12384|          13110|
|04-11-2023|       mobile|    cancelled|    5079|        4058.04|
|18-11-2023|      android|    delivered|     455|            210|
|17-11-2023|      android|    cancelled|  1255.2|            800|
|04-12-2023|      android|    delivered| 2515.66|           1500|
|21-11-2023|      android|    cancelled|     398|            200|
|16-11-2023|       mobile|    cancelled|    3667|        2706.25|
|23-12-2023|       mobile|    confirmed|     458|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [120]:
## now we are going to fill missing value with some values 

from pyspark.ml.feature import Imputer
imputer= Imputer( 
    inputCols=['B_GMV'],
    outputCols=["{}_imputed".format(c) for c in ['B_GMV'] ]).setStrategy('median')

### Here we can do mean median or mode accoring to the need of req

In [121]:
## add imputatitons cols to df 

imputer.fit(spark_df).transform(spark_df).show()

+----------+-------------+-------------+--------+---------------+-------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|B_GMV_imputed|
+----------+-------------+-------------+--------+---------------+-------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|     301.8544|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|       4087.0|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|      4839.66|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|       5829.0|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|       1244.0|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|        446.0|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|        744.0|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|        249.0|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|      3481.48|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|       9179.0|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|       4740.0|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|      2003.15|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|      12384.0|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|       5079.0|
|18-11-2023|      android|    delivered|   455.0|          210.0|        455.0|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|       1255.2|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|      2515.66|
|21-11-2023|      android|    cancelled|   398.0|          200.0|        398.0|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|       3667.0|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|        458.0|
+----------+-------------+-------------+--------+---------------+-------------+
only showing top 20 rows

In [114]:
### FILTER OPERATIONS----

In [ ]:
# Finding bgmv > 20000

In [123]:
spark_df.count()  ###46732

46732

In [126]:
spark_df.filter('B_GMV >=100000').count()

42

In [ ]:
#If i want to show the specific columns then

In [134]:
spark_df.filter('B_GMV >=100000').select(['order_date', 'booked_device']).show()

+----------+-------------+
|order_date|booked_device|
+----------+-------------+
|01-12-2023|       mobile|
|04-11-2023|      Desktop|
|18-11-2023|       mobile|
|21-12-2023|      Desktop|
|14-12-2023|      Desktop|
|15-12-2023|      Desktop|
|23-11-2023|      Desktop|
|23-12-2023|      Desktop|
|18-12-2023|      Desktop|
|14-12-2023|      Desktop|
|03-12-2023|      Desktop|
|02-11-2023|      android|
|02-11-2023|       mobile|
|28-11-2023|      Desktop|
|19-12-2023|      Desktop|
|02-11-2023|      Desktop|
|27-11-2023|      Desktop|
|22-11-2023|      Desktop|
|15-12-2023|      Desktop|
|16-11-2023|      Desktop|
+----------+-------------+
only showing top 20 rows

In [141]:
spark_df.filter((spark_df['B_GMV']>100000) & (spark_df['B_GMV'] < 200000 )).show()

+----------+-------------+-----------+---------+---------------+
|order_date|booked_device|Line_status|    B_GMV|total_cp_actual|
+----------+-------------+-----------+---------+---------------+
|01-12-2023|       mobile|    shipped|114621.48|        95000.0|
|04-11-2023|      Desktop|  delivered| 133170.0|       107812.0|
|18-11-2023|       mobile|  delivered|133060.14|      100781.25|
|14-12-2023|      Desktop|  delivered| 164964.0|      103557.48|
|23-11-2023|      Desktop|  delivered| 104744.0|        86864.4|
|23-12-2023|      Desktop|  confirmed| 149400.0|        74361.0|
|18-12-2023|      Desktop|    shipped| 108600.0|        80000.0|
|14-12-2023|      Desktop|        RTO|191183.94|       145176.0|
|03-12-2023|      Desktop|  delivered| 107272.0|        76000.0|
|02-11-2023|      android|  cancelled| 126848.0|       104000.0|
|02-11-2023|       mobile|  delivered| 126848.0|       104000.0|
|28-11-2023|      Desktop|  delivered| 116230.0|        74129.5|
|19-12-2023|      Desktop|  delivered|139396.94|       78840.56|
|02-11-2023|      Desktop|  delivered| 107990.4|        72388.8|
|22-11-2023|      Desktop|  delivered|113998.08|       77287.92|
|15-12-2023|      Desktop|  delivered| 139776.0|       93747.42|
|16-11-2023|      Desktop|  delivered| 139776.0|       93747.42|
|06-11-2023|      Desktop|  delivered| 139776.0|       93747.42|
|03-11-2023|      Desktop|  cancelled|161198.86|       129220.0|
|14-12-2023|      Desktop|    shipped|107500.36|        83432.2|
+----------+-------------+-----------+---------+---------------+
only showing top 20 rows

In [142]:
##not operation
spark_df.filter(~(spark_df['B_GMV']>100000) & (spark_df['B_GMV'] < 200000 )).show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|
|18-11-2023|      android|    delivered|   455.0|          210.0|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|
|21-11-2023|      android|    cancelled|   398.0|          200.0|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [149]:
#@####### AGRREGATE FUNCTION @@#########

# spark_df.groupBy('Line_status').count().show()

# spark_df.groupBy('Line_status').sum('B_GMV').show()

# spark_df.groupBy('Line_status').sum().show()

In [158]:
spark_df.agg({'B_GMV': 'sum'}).show()

+--------------------+
|          sum(B_GMV)|
+--------------------+
|1.9895300503809896E8|
+--------------------+

In [169]:
### PY SPARK ML########@@@@@@@@@@

spark_df.show()

+----------+-------------+-------------+--------+---------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|
+----------+-------------+-------------+--------+---------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|
|18-11-2023|      android|    delivered|   455.0|          210.0|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|
|21-11-2023|      android|    cancelled|   398.0|          200.0|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|
+----------+-------------+-------------+--------+---------------+
only showing top 20 rows

In [ ]:
###  here we use different technique for pred. , we group by feature and create new non dependant feature 

# [order_date, total_cp_actual] ----> new feature ---> independent feature

In [187]:

spark_df.schema
from pyspark.sql.functions import col, to_date
spark_df= spark_df.withColumn("order_date",to_date(col("order_date"), "dd-mm-yyyy"))
#Here i convereted date string into datatype to pass as a training column but didnt work as date doesnt work
#so now i am adding 1 more column in my data for independent variable

In [200]:
### Datatype handling
spark_df= spark.read.option('header', 'true').csv('ff from nov.csv', inferSchema='True')  #used inferschema to get real datatype 

#adding 1 column into dataframe 
## Adding column into df of spark
spark_df=spark_df.withColumn('total_cp_actual_after_gst', spark_df['total_cp_actual']*.18)


### dropping extra column 
spark_df=spark_df.drop('_c5')


### COnvert string datatype into real 

spark_df.show()

+----------+-------------+-------------+--------+---------------+-------------------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|total_cp_actual_after_gst|
+----------+-------------+-------------+--------+---------------+-------------------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|       39.916799999999995|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|                   533.52|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|                   645.84|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|                 616.9176|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|       127.97999999999999|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|                   41.364|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|                  96.2118|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|       26.099999999999998|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|                    473.4|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|                  1293.48|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|                    630.0|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|                  290.295|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|       2359.7999999999997|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|                 730.4472|
|18-11-2023|      android|    delivered|   455.0|          210.0|                     37.8|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|                    144.0|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|                    270.0|
|21-11-2023|      android|    cancelled|   398.0|          200.0|                     36.0|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|                  487.125|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|        56.05199999999999|
+----------+-------------+-------------+--------+---------------+-------------------------+
only showing top 20 rows

In [204]:
from pyspark.ml.feature import VectorAssembler
featureassembler= VectorAssembler(inputCols= [ 'total_cp_actual', 'total_cp_actual_after_gst'], outputCol= 'independent_features')



output= featureassembler.transform(spark_df)

In [205]:
output.show()

+----------+-------------+-------------+--------+---------------+-------------------------+--------------------+
|order_date|booked_device|  Line_status|   B_GMV|total_cp_actual|total_cp_actual_after_gst|independent_features|
+----------+-------------+-------------+--------+---------------+-------------------------+--------------------+
|24-11-2023|       mobile|    delivered|301.8544|         221.76|       39.916799999999995|[221.76,39.916799...|
|30-11-2023|      Desktop|    cancelled|  4087.0|         2964.0|                   533.52|     [2964.0,533.52]|
|25-11-2023|      Desktop|    cancelled| 4839.66|         3588.0|                   645.84|     [3588.0,645.84]|
|13-12-2023|       mobile|          RTO|  5829.0|        3427.32|                 616.9176|  [3427.32,616.9176]|
|12-12-2023|      Desktop|    cancelled|  1244.0|          711.0|       127.97999999999999|[711.0,127.979999...|
|27-11-2023|       mobile|RTO_DELIVERED|   446.0|          229.8|                   41.364|      [229.8,41.364]|
|11-11-2023|       mobile|    cancelled|   744.0|         534.51|                  96.2118|    [534.51,96.2118]|
|09-12-2023|      Desktop|    cancelled|   249.0|          145.0|       26.099999999999998|[145.0,26.0999999...|
|13-12-2023|      android|    delivered| 3481.48|         2630.0|                    473.4|      [2630.0,473.4]|
|15-12-2023|      Desktop|      shipped|  9179.0|         7186.0|                  1293.48|    [7186.0,1293.48]|
|15-11-2023|      android|    cancelled|  4740.0|         3500.0|                    630.0|      [3500.0,630.0]|
|22-12-2023|      Desktop|    confirmed| 2003.15|        1612.75|                  290.295|   [1612.75,290.295]|
|15-12-2023|       mobile|    confirmed| 12384.0|        13110.0|       2359.7999999999997|[13110.0,2359.799...|
|04-11-2023|       mobile|    cancelled|  5079.0|        4058.04|                 730.4472|  [4058.04,730.4472]|
|18-11-2023|      android|    delivered|   455.0|          210.0|                     37.8|        [210.0,37.8]|
|17-11-2023|      android|    cancelled|  1255.2|          800.0|                    144.0|       [800.0,144.0]|
|04-12-2023|      android|    delivered| 2515.66|         1500.0|                    270.0|      [1500.0,270.0]|
|21-11-2023|      android|    cancelled|   398.0|          200.0|                     36.0|        [200.0,36.0]|
|16-11-2023|       mobile|    cancelled|  3667.0|        2706.25|                  487.125|   [2706.25,487.125]|
|23-12-2023|       mobile|    confirmed|   458.0|          311.4|        56.05199999999999|[311.4,56.0519999...|
+----------+-------------+-------------+--------+---------------+-------------------------+--------------------+
only showing top 20 rows

In [206]:
finalised_data= output.select('independent_features','B_GMV')

In [207]:
finalised_data.show()

+--------------------+--------+
|independent_features|   B_GMV|
+--------------------+--------+
|[221.76,39.916799...|301.8544|
|     [2964.0,533.52]|  4087.0|
|     [3588.0,645.84]| 4839.66|
|  [3427.32,616.9176]|  5829.0|
|[711.0,127.979999...|  1244.0|
|      [229.8,41.364]|   446.0|
|    [534.51,96.2118]|   744.0|
|[145.0,26.0999999...|   249.0|
|      [2630.0,473.4]| 3481.48|
|    [7186.0,1293.48]|  9179.0|
|      [3500.0,630.0]|  4740.0|
|   [1612.75,290.295]| 2003.15|
|[13110.0,2359.799...| 12384.0|
|  [4058.04,730.4472]|  5079.0|
|        [210.0,37.8]|   455.0|
|       [800.0,144.0]|  1255.2|
|      [1500.0,270.0]| 2515.66|
|        [200.0,36.0]|   398.0|
|   [2706.25,487.125]|  3667.0|
|[311.4,56.0519999...|   458.0|
+--------------------+--------+
only showing top 20 rows

In [208]:
from pyspark.ml.regression import LinearRegression
train_data, test_data= finalised_data.randomSplit([0.75,0.25])

In [209]:
regressor= LinearRegression(featuresCol='independent_features', labelCol='B_GMV')

In [210]:
regressor=regressor.fit(train_data)

In [212]:
### cofficient 

regressor.coefficients

DenseVector([0.7227, 4.0153])

In [213]:
##intercept 

regressor.intercept

148.61346549959583

In [214]:
### Predictions
pred= regressor.evaluate(test_data)

In [215]:
pred.predictions.show()

+--------------------+-------+------------------+
|independent_features|  B_GMV|        prediction|
+--------------------+-------+------------------+
|       [0.72,0.1296]|    2.0|149.65422221110828|
|       [0.72,0.1296]|    9.0|149.65422221110828|
|       [0.72,0.1296]|   10.0|149.65422221110828|
|       [0.72,0.1296]|13.3051|149.65422221110828|
|       [0.72,0.1296]|   41.0|149.65422221110828|
|       [0.72,0.1296]|   41.0|149.65422221110828|
|       [0.72,0.1296]|   49.0|149.65422221110828|
|       [0.72,0.1296]|   49.0|149.65422221110828|
|       [0.72,0.1296]|   67.0|149.65422221110828|
|       [0.72,0.1296]|   68.0|149.65422221110828|
|       [0.72,0.1296]|   76.0|149.65422221110828|
|[0.82,0.147599999...|   80.5| 149.7987717543739|
|[0.82,0.147599999...|   85.0| 149.7987717543739|
|          [1.0,0.18]|    1.0|  150.058960932252|
|          [1.0,0.18]|   40.0|  150.058960932252|
|          [1.0,0.18]|   40.0|  150.058960932252|
|          [1.0,0.18]|  140.0|  150.058960932252|
|       [1.03,0.1854]|   42.0|150.10232579523168|
|         [1.1,0.198]|    4.0|150.20351047551762|
|         [1.1,0.198]|  101.0|150.20351047551762|
+--------------------+-------+------------------+
only showing top 20 rows

In [216]:
pred.meanAbsoluteError, pred.meanSquaredError, pred.rootMeanSquaredError

(444.8403762525615, 2860297.9829463707, 1691.2415507390926)